.wrapper-articles {
  padding: 2rem 0;

  .article-category {
    margin: 0 0 2rem 0;

    .article-category__title {
      background-color: #0b3e6f;
      color: #ffffff;
      padding: 0.625rem;
      margin: 0 0.3rem;
      border-radius: 5px;
      text-decoration: none;
    }
  }

  .article {
    box-shadow: 0 10px 23px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 1rem;
    margin: 0.8rem 0;

    .article-title {
      font-size: 1.6em;
    }

    .article-description {

    }
  }
}