.category-view {
  padding: 1rem 0;

  .no-chapter {
    .no-chapter__item {
      .no-chapter__link {
      }
    }
  }
}

.category {
  padding: 20px 0;

  .category-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 3px 17px #2663a633;
    border-radius: 10px;

    &__header {
      height: 150px;
      background-color: #93eedf;
      border-radius: 10px 10px 0 0;
    }

    &__body {
      height: 50%;
      padding: 1rem;
    }
  }
}