.card {
  border: none;
  box-shadow: 0 2px 5px #00000030;
  margin: 5px 0 10px 0;

  .card-img {
    height: 200px;
    background-color: #27debf;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url("/img/cards_3.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;*/
    text-decoration: none;

    &__title {
      color: #ffffff;
    }
  }
}