.title {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #0000001a;
  background-color: #ffffff;
  border-top: 1px solid #0000001a;
}

.wrapper-post {
  .post {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;

    .post-title {
      .post-title__link {
        color: #000000;
        text-decoration: none;
      }
    }

    .post-content {
      font-family: Verdana, sans-serif;
    }
  }
}

.breadcrumb {
  margin: 15px 0;
  background-color: #ffffff;
  border-radius: 0;
  display: flex;
  justify-content: center;

  .breadcrumb-item.test {
    color: #9c9c9c;
  }
}