.sidebar {
  background-color: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0 3px 17px #b0b0b033;
  position: sticky;
  top: 1rem;

  .sidebar-title {
    color: #000000;
    border-bottom: 1px solid #0000001a;
    padding: 5px 0;
  }

  .sidebar-inside {
    height: 100%;

    .sidebar-list {
      padding: 0 10px 15px 15px;

      .sidebar-item {
        padding: 3px 0;
        margin: 0;
        font-size: 14px;

        .sidebar-link {
          text-decoration: none;
          color: #8a4c00;
        }
      }
    }
  }
}