.article-category {
  margin: 2rem 0;

  .article-category__title {
    background-color: #0b3e6f;
    color: #ffffff;
    padding: 0.625rem;
    margin: 0 0.3rem;
    border-radius: 5px;
    text-decoration: none;
  }

  .article-category__title.all-articles {
    background-color: red;
  }
}