@import "header";
@import "slider";
@import "category";
@import "post";
@import "post-sidebar";
@import "articles";
@import "articles-category-widget";
@import "site";

@font-face {
  font-family: 'Open Sans Regular';
  src: url('/fonts/OpenSans-Regular.eot');
  src: url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Regular.woff') format('woff'),
  url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('/fonts/ProximaNova-Regular.eot');
  src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans Regular';

  img {
    width: 100%;
    height: auto;
  }
}